<form id= "s" method="POST" action="/update">
<h1 id="signup_h1">Please Enter the Date You Wish To Update</h1>
<img class="logo_sm" src="logo.jpg" />
    <table>
      <tr>
       <tr>
         <td><label for="username">Username</label></td>
        <td><input id="u" name="username" type="text" placeholder="Enter your username" /></td>
        </tr>
        <td><label for="email">Email</label></td>
        <td><input id="e" name="email" type="text" placeholder="Enter your username" /></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input id="p" name="password" type="password" placeholder="Enter your password" /></td>
      </tr>
      <tr>
        <td id="submit" colspan="2"><input id="sub" type="submit" /></td>
      </tr>
    </table>
  </form>


  <%if flash[:update]%>
  <h1 id="flash_h1"><%=flash[:update]%></h1>
  <%end%>
<hr />
<h1 id="signup_h1">Click Below to Delete Your Account</h1>
<form action="/delete">
  <td id="submit" colspan="2"><input id="sub" value="Delete" type="submit"/></td>
  </form>