 <form method="POST" action="/login">
    <table>
      <tr>
       
        <td><label for="email">Email</label></td>
        <td><input name="email" type="text" placeholder="Enter your username" /></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input name="password" type="password" placeholder="Enter your password" /></td>
      </tr>
      <tr>
        <td id="submit" colspan="2" ><input type="submit" /></td>
      </tr>
    </table>
  </form>