<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<%if @samp %>

 <%@samp.each do |s| %>

 <p class="s"><%=s.user_id.to_s + s.list.gsub(/\\n|\[|\]|\"|,/, "") + "llll" %></p>
 <%end%>
 <%end%> 




 <script>

$(document).ready(function() {
var id = "";
var arr = [];
var index = "";
var n = -1;
var a = $('.s').text().split("llll");
var q = 0;
var y ="";
var ql = 0;
alert(a[0]);

for(i = 0;i<a.length; i++) {

var b  = a[i].split("ss");

arr.push(b);

console.log(arr);


}

alert(arr[1][3]);

var k = arr.map(function(c) {

 return c.filter(function(b) {



 return /[a-zA-Z]+/.test(b);

});

}).filter(function(c) {
	return c.length;
});

console.log(k);

for(i = 0; i<k.length;i++) {

$('body').append(
  $('<div/>')
    .attr("id",  i.toString())
    .addClass( "purplebloated")
    .append("<span/>")
      .text(k[i][0])
);

}

$( ".purplebloated" ).attr('tabindex',-1).focus(function() {
  
	id = $(this).attr('id');
 	index = parseInt(id);
 	console.log(id);
 	n = 0;
 	q = 0;
 	ql = 0;
    console.log(k[index].length);
});




$('body').keydown(function(e) {
	console.log( id );
    switch(e.which) {
        case 37: // left
      
       if(n > 0) {
       n--;}
       console.log(n);
       $("#"+id).text(k[index][n]);
       
      	
        break;

        case 38: // up
     



var l = $("#"+id).find("h1").length
console.log("this is the length" + l);
   if(l == 0) {

    y = $("<h1> Following</h1>").appendTo("#"+id);
    ql++;
}

     if(ql == 1)  {

        $("#"+id).fadeOut();

        var user = (k[index][0].charAt(0));



        $.ajax({
               url : "/samplefollow",
               type : "post",
              data : { data_value: user },
            });



     } 



        break;

        case 39: // right
       console.log("right");
       	if(n < k[index].length - 1) {

       	n++;}
       
        console.log(n);
        $("#"+id).text(k[index][n]);
        break;

        case 40: // down
       console.log("down");
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});


});
 </script>